.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  color: aliceblue;
  -webkit-text-stroke: .09em rgba(0,0,0,.5);
  text-shadow: .08em 0 red;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  height: 300px;
}
